<?clj
	(def theName "Soonog")
	
	(defn replaceAs
		[input]
		(clojure.string/replace input "a" "X")
	)
?>

Hello <?clj (echo theName) ?>, this is a simple template which should allow
you to <?clj (echo (replaceAs "see the basics how this might work some day")) ?>.
